@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  background-color: #63cdda;
  font-family: 'Raleway', sans-serif;
}

form {
  padding: 1rem;
  border: 5px solid #cf6a87;
  border-radius: 5px;
  background-color: #fff;
}

label {
  display: flex;
  margin-bottom: 0.5rem;
}

button {
  width: 100%;
  margin: .875rem 0;
  padding: .875em;
  border: none;
  background-color: #c44569;
  color: #fff;
  font-size: 1.125em;
  cursor: pointer;
}

.container {
  width: 60vw;
  max-width: 900px;
  margin: 60px auto;
}

.form-elements {
  padding: 0.5em;
}

.genres {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-input-box {
  width: 100%;
  height: 2em;
  padding: 0.375em;
  color: #596275;
  border: 1px solid #c44569;
  border-radius: 0.15rem;
}

.form-input-box:focus {
  border-color: #f78fb3;
  outline: 0;
}

textarea.form-input-box {
  height: 8em;
}

#title, #description {
  text-align: center;
}
